.Form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 20px auto;

}

.Form__label {
    margin-bottom: 10px;
}

.Form__input {
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.Form__text {
    margin: 10px 0;
}